<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/layout.css" />
    <meta charset="UTF-8">
    <title>HYDROQUALITY</title>
</head>
<body>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a class="nav-link disabled" href="../index.html">UPLOAD</a></li>
                <li><a class = "nav-link disabled" href="../verify.html">VERIFY</a></li>
                <li><a class = "nav-link active" href="configure.html">CONFIGURE</a></li>
                <li><a class = "nav-link disabled" href="../runtests.html">RUN TESTS</a></li>
                <li><a class = "nav-link disabled" href="#">REVIEW</a></li>
            </ul>
        </div>
    </nav>
    <div class="card">
        <div class="row">
            <div class="col col-2" id="data-fields">
                <span class="card-header">Data Fields</span>
            </div>
            <div class="col col-3" id="field-info">
                <span class="card-header">Data Field Information</span>
            </div>
            <div class="col col-6" id="qc-tests">
                <span class="card-header">QC Tests</span>
            </div>
        </div>
    </div>
</body>
</html>
