<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script
        type="text/javascript"
        src="//code.jquery.com/jquery-1.9.1.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
    <meta charset="UTF-8">
    <title>HYDROQUALITY</title>
    <script>
        $(window).load(function(){

        })
    </script>
</head>
<body>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a class="nav-link disabled" href="/">UPLOAD</a></li>
                <li><a class = "nav-link disabled" href="/verify">VERIFY</a></li>
                <li><a class = "nav-link active" href="#">CONFIGURE</a></li>
                <li><a class = "nav-link disabled" href="#">RUN TESTS</a></li>
                <li><a class = "nav-link disabled" href="#">REVIEW</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <form id="configure" action="runtests" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-9" style="background-color: #80b8ba; padding: 20px;">
                    <table width="100%">
                        <tr>
                            <td class="col-md-4">
                                <div>
                                    <strong>Data Columns:</strong>
                                </div>
                                <div>
                                    <select class="selectpicker form-control" size="15" id="targetList" multiple>
                                        {% for column in selected_columns %}
                                            <option>{{ column }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                            <td class="col-md-1">
                                <!--blank space-->
                            </td>
                            <td class="col-md-4">
                                <div>
                                    <strong>Tests:</strong>
                                </div>
                                <div>
                                    <select class="testpicker form-control" size="15" id="testList" multiple>

                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2" style="background-color: #80b8ba;">
                    <div>
                        <form>
                            <button type="submit" class="input-button col col-2-sm" name="proceed"
                                style="height: 90px;" id="proceed">
                                <span>
                                    Continue
                                </span>
                            </button>
                         </form>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
