<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script
            type="text/javascript"
            src="//code.jquery.com/jquery-1.9.1.js"
        ></script>
        <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
        <meta charset="UTF-8">
        <title>HYDROQUALITY</title>
    </head>
    <body>
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a class="nav-link disabled" href="/">UPLOAD</a></li>
                    <li><a class = "nav-link disabled" href="/verify">VERIFY</a></li>
                    <li><a class = "nav-link disabled" href="/configure">CONFIGURE</a></li>
                    <li><a class = "nav-link disabled" href="/runtests">RUN TESTS</a></li>
                    <li><a class = "nav-link active" href="#">REVIEW</a></li>
                </ul>
            </div>
        </nav>

        <nav class="container">
            {% for item in session.get('testres',{}) %}
                <h1>X={{ item.x }} Y={{ item.y }}: Pass: {{ item.pass }}</h1>
            {% endfor %}
        </nav>
    </body>
</html>