<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script
        type="text/javascript"
        src="//code.jquery.com/jquery-1.9.1.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
    <meta charset="UTF-8">
    <title>HYDROQUALITY</title>

<script>
    //Professor removed this requirement
    /*function move() {
      var elem = document.getElementById("myBar");
      var width = 1;
      var id = setInterval(frame, 10);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
        } else {
          width++;
          elem.style.width = width + '%';
        }
      }
    }*/
    function runtests() {
        $("#proceed").style.display = "block";
    }
</script>

</head>
<body>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a class="nav-link disabled" href="/">UPLOAD</a></li>
                <li><a class = "nav-link disabled" href="/verify">VERIFY</a></li>
                <li><a class = "nav-link disabled" href="/configure">CONFIGURE</a></li>
                <li><a class = "nav-link active" href="#">RUN TESTS</a></li>
                <li><a class = "nav-link disabled" href="#">REVIEW</a></li>
            </ul>
        </div>
    </nav>
    
<!--div id="myProgress">
  <div id="myBar"></div>
</div-->
    <div class="container">
        <button on-click="runtests()">Run Tests</button>
        <a href="/review" id="proceed" style="display:block"><button type="submit">CONTINUE</button></a>
    </div>
    
</body>
