<!DOCTYPE html>
<html>
	<head>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<title>
			Graphing Calculator
		</title>
	</head>
	<body>
		<nav id="login-bar">
			<h1>Login Bar</h1>
			<button type="submit" action="/login" method="GET">
				Login
			</button>
			<button type="submit" action="/register" method="GET">
				Register
			</button>
		</nav>
		<div id="graph">
			<h1>Graph here</h1>
		</div>
		<div id="function-input">
			<h1>Input bar here</h1>
		</div>
	</body>
</html>
