<!DOCTYPE html>
<html>
	<head>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
		<script type="text/javascript">
            //parse a function and determine if it is valid
            function valid(func){
                var tokens = new Array();
                //regex the function into tokens
                var tokenmatch = /[0-9]+|X|[\^\+\-\/\*]{1}/g;
                var symbols = /[0-9+\-\/*^X]/;
                //see if anything doesn't match
                for(var i=0; i<func.length; i++){
                    if(!symbols.test(func[i])){
                        return false;
                    }
                }
                func.match(tokenmatch).forEach((token)=>{
                    tokens.push(token);
                });
                console.log(tokens);
                //we can tell that this is a valid function if every
                //operator is between 2 non-operator tokens
                //and it begins and ends with a non-operator token
                var shouldBeOperator = false;
                while(tokens.length>0){
                    switch(tokens.pop()){
                        case '+':
                        case '-':
                        case '*':
                        case '/':
                        case '^':
                            if(!shouldBeOperator){
                                return false;
                            }
                            break;
                        default:
                            if(shouldBeOperator){
                                return false;
                            }
                    }
                    shouldBeOperator = !shouldBeOperator;
                }
                return true;
            }

			//monitor input bar to ensure function is valid
			$(document).ready(function(){
			    $("#func-text").keydown(function(){
                    return !(window.event && window.event.keyCode == 13);
                });
				$("#func-text").keyup(function () {
				    var func = $("#func-text").val();

				    if(valid(func)){
				        $("#func-text").css("color","green");
                    } else {
				        $("#func-text").css("color","red");
                    }

                    return !(window.event && window.event.keyCode == 13);
                })
			});
		</script>
		
		<title>
			Graphing Calculator
		</title>
	</head>
	<body>
		<nav id="login-bar">
			<div id="button-block">
				<a href="/login">
					<button>Login</button>
				</a>
				<a href="/register">
					<button>Register</button>
				</a>
			</div>
		</nav>
		<div id="graph">
			<h1>Graph here</h1>
		</div>
		<form name="function" id="function-input" method="POST" action="/run">
			F(X)=<input name="func-text" id="func-text" type="text" placeholder="X"></input>
			<button type="submit" name="func-run" class="disabled">Run</button>
		</form>
	</body>
</html>
