#login-bar {
	text-align: center;
	background: teal;
	float: left;
	width: 100%;
}

#login-bar span {
	font-weight: bold;
}

#login-bar #button-block {
	float: right;
}

#login-bar #button-block button {
	height: 100%;
}

#function-input {
	text-align: center;
	width: 100%;
}
